html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
}
p {
    color: navy;
    text-indent: 30px;
    line-height: 2;
}
button {
    font-size: 1.5em;
    margin-right: 10px;
    border-radius: 10px;
}
#diceApp {
    background:linear-gradient(to bottom left, green, blue);
    color: whitesmoke;
}
#diceApp:hover {
    background:linear-gradient(to bottom left, blue, purple);
}
#paintApp {
    background:linear-gradient(to bottom left, green, blue);
    color: whitesmoke;
}
#paintApp:hover {
    background: linear-gradient(to bottom left, blue, purple);
}
#chooseAdven {
    background: linear-gradient(to bottom left, green, blue);
    color: whitesmoke;
}
#chooseAdven:hover {
    background: linear-gradient(to bottom left, blue, purple);
}
#goBack {
    background:linear-gradient(to bottom left, green, blue);
    color: whitesmoke;
}
#goBack:hover {
    background: linear-gradient(to bottom left, blue, purple);
}
.head {
    width: 85%;
    margin: 0 auto;
    background-color: darkcyan;
    border-radius: 25px;
    text-align: center;
    vertical-align: 150px;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.container {
    width: 75%;
    text-align: center;
    vertical-align: 150px;
    margin: 0 auto;
    background-color: powderblue;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.message {
    width: 200%;
}
.project {
    width: 1fr;
    margin: 0 auto;    
}
.upnxt {
    width: 1fr;
    margin: 0 auto;
    text-align: center;
}
.hide {
    display: none;
}
.upnxt:hover + .hide {
    display: block;
    color: red;
}
.print {
    width: 1fr;
    margin: 0 auto;
    border-radius: 30px;
}
.contactMe {
    background-color: lawngreen;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    border-style: dashed;
    border-radius: 25px;
}

ul {
    list-style-type: decimal-leading-zero;
    width: 50%;
    text-align: left;
}
img {
    padding: 15px;
    border-radius: 50px;
}