html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
p {
    color: navy;
    text-indent: 30px;
    line-height: 2;
}
.head {
    width: 85%;
    margin: 0 auto;
    background-color: darkcyan;
    border-radius: 25px;
    text-align: center;
    vertical-align: 150px;
    color: whitesmoke;
}
.container {
    width: 75%;
    text-align: center;
    vertical-align: 150px;
    margin: 0 auto;
    background-color: powderblue;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.message {
    width: 200%;
}
.project {
    width: 1fr;
    margin: 0 auto;    
}
.upnxt {
    width: 1fr;
    margin: 0 auto;
    text-align: center;
}
.print {
    width: 1fr;
    margin: 0 auto;
    border-radius: 30px;
}
.contactMe {
    background-color: lawngreen;
    width: 60%;
    height: 20%;
    margin: 0 auto;
    border-style: dashed;
    border-radius: 25px;
}
.hide {
    display: none;
}
.upnxt:hover + .hide {
    display: block;
    color: red;
}
ul {
    list-style-type: decimal-leading-zero;
    width: 8px;
}
img {
    padding: 15px;
    border-radius: 50px;
}